body {
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  button{
    background-image: url("/img/startbutton.png");
      background-size:cover;
      padding: 40px 100px;
      position: absolute;
      top: 50%;
      left: 45%;   
      opacity: 80%;
      border: 10px solid black;
  }
main{
    background-image: url("/img/hogerlager.jpeg");
    height: 230px;
    width: 350px;
    position: absolute;
    top: 8%;
    left: 40%; 
    opacity: 80%;
    border: 10px solid black;
    
}
 