body{
    background-color: black;
}

.HomeButton{
    background-image: url("/img/HomeButton.jpg");
    background-size:cover;
    padding: 60px 60px;
    position: absolute;
    top: 2%;
    left: 2%;   
    opacity: 100%;
    border: 4px solid rgb(255, 0, 0);
}
h1{
    font-weight: 100;
    text-align: center;
   font-size: 67px;
   color: yellow;
}
p{
    text-align: initial;
    color:rgb(172, 243, 29);
}

li{
    color: rgb(209, 129, 25);
}
footer{
    color: red;
    text-align: center;
    position:relative; top: 300px;
}

.crown{
    background-size:cover;
    padding: 10px 10px;
    height: 190px;
    width: 190px;
    position: absolute;
    background-position: 10px;
    left: 44%;   
    opacity: 100%;
    border: 4px solid rgb(18, 7, 116);
}